@model LoginViewModel

<h1>Login</h1>
<a asp-controller="Account" asp-action="Register" class="btn btn-dark">Register</a>
<form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form> 